<div class="container">

    <div class="fixr">
        <h1 class="titulo">FIXR</h1>

        <button class="loginGoogle">LOGIN COM GOOGLE</button>
        <p style="font-size: 24px">--------- OU ---------</p>

        <input class="inputEmail"
               placeholder="EMAIL" 
               type="email"
               name="email"
               [(ngModel)]="email">

        <input class="inputSenha"
               placeholder="SENHA" 
               type="password"
               name="senha"
               [(ngModel)]="senha">

        <button class="btn-entrar" (click)="irChatVazio()">ENTRAR</button>

        <button class="btn-rec" (click)="irRecSenha()">
            Recuperar senha
        </button>
    </div>

    <div class="cadastro">
        <h1 class="titulo-cad">CADASTRO</h1>

        <p class="tituloTipo">TIPO DE USUARIO</p>

        <div class="botoes-cad">
            <button
                   class="btn-cliente"
                   (click)="irCadCliente()">CLIENTE</button> 
            <button
                   class="btn-prestador" 
                   (click)="irCadPrestador()">PRESTADOR</button>
        </div>
    </div>

</div>