<div class="container">

    <div class="fixr">
        <h1 class="titulo">FIXR</h1>

        <button class="loginGoogle">LOGIN COM GOOGLE</button>
        <p>--------- ou ---------</p>

        <input placeholder="EMAIL" type="email"
               [(ngModel)]="email" name="email">

        <input placeholder="SENHA" type="password"
               [(ngModel)]="senha" name="senha">

        <button class="btn-entrar" (click)="login()">ENTRAR</button>

        <button class="btn-rec" (click)="irRecSenha()">
            Recuperar senha
        </button>
    </div>

    <div class="cadastro">
        <h1 class="titulo-cad">CADASTRO</h1>

        <p class="tituloTipo">TIPO DE USUARIO</p>

        <div class="botoes-cad">
            <button (click)="irCadCliente()">CLIENTE</button> 
            <button (click)="irCadPrestador()">PRESTADOR</button>
        </div>
    </div>

</div>