<div class="container">

    <div class="header">
        <header class="headerCadPres">CADASTRO - PRESTADOR</header>
    </div>

    <br>

    <div class="container-main">

        <div class="fundoCad">

            <div class="nome">
                <label>NOME DA PROFISSÃO</label> 
                <input type="text" size="50px">
            </div>

            <br>

            <div class="data">
                <label>DESCREVA A PROFISSÃO</label><br>
                <input type="text" style="width:612px; height:208px">
                <br>

                <label>PROFISSÃO SEMELHANTE</label>
                <select id="profissão ">
                <option>Mecânico</option>
                <option>Encanador</option>
                <option>Jardineiro</option>
                <option>Outros</option>
            </select>

            <button>CADASTRAR PROFISSÃO</button>
            </div>

            

        </div>

    </div>

</div>