<div class="container">

    <div class="header">
        <header class="headerCadPres">CADASTRO - PRESTADOR</header>
    </div>

    <br>

    <div class="container-main">

        <div class="fundoCad">

            <div class="nome">
                <label>NOME DA PROFISSÃO</label> 
                <input type="text" size="50px" [(ngModel)]="nomeProf">
            </div>

            <br>

            <div class="data">
                <label>DESCREVA A PROFISSÃO</label><br>
                <textarea type="text" style="width:612px; height:208px" [(ngModel)]='desc'></textarea>
                <br>

                <div class="ladoDireitoCima">
                    <p>PROFISSÃO:       OUTROS</p>
                </div>

                <div class="ladoDireito">
                <label>PROFISSÃO SEMELHANTE</label>
                <select id="profissão ">
                <option>Mecânico</option>
                <option>Encanador</option>
                <option>Jardineiro</option>
                <option>Outros</option>
            </select>
            </div>
            

            <button>CADASTRAR PROFISSÃO</button>
            </div>

            

        </div>

    </div>

</div>