* {
    font-family: 'Inter', sans-serif;
}



.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #014A7F;
    height: 116px;
    width: 100%;
}

.headerCadPres {
    margin: 0;
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 800;
}



.container-main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fundoCad {
    background-color: #008EB6;
    width: 1353px;
    height: 770px;
    border-radius: 10px;
}

.nome{
    display: flex;
    
}