/* You can add global styles to this file, and also import other style files */

@import "https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap";

html, body {
    height: 100%;
    margin: 0;
}

app-root {
    display: flex;
    flex-direction: column;
    height: 100dvh;
}

app-chat-vazio {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
    overflow: hidden;
}