<div class="container">
    <div class="head"><p>FIXR</p><p>CLIENTE</p></div>

    <div class="header">
        <header class="headerCadPres"><p>ANUNCIAR</p>BUSCAR PRESTADOR<p>ESTATÍSTICA</p>FAVORITOS<p></header>
    </div>

    <br>

    <div class="container-main">

        <div class="fundoCad">

            <div class="nome">
                <label> </label> 
                <input type="text" size="50px">
            </div>

            <div class="data">
                <label>  </label>
                <input type="date" placeholder="DD/MM/AAAA" size="10">
                <br>
            </div>
            

            <h3>EMAIL</h3>
            <input type="email" size="100px">
            <br>

            <h3>SENHA</h3>               
            <input type="password" size="50px"> 
            
            <h3>CONFIRME SUA SENHA</h3>
            <input type="password" size="50px">

            <h3>TELEFONE</h3>
            <input type="number">


            <button>CADASTRAR</button>

        </div>

    </div>

</div>