* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.body {
    width: 100%;
    height: 769px;
    background-color: #008eb6;
    display: flex;
}

.containerCont {
    width: 994px;
    height: 769px;
}

.contatosChat {
    width: 960px;
    height: 630px;
    background-color: #014a7f;
    margin-top: 51px;
    margin-left: 34px;
    border-radius: 10px;
}

.contatosChat h3 {
    color: #FFFFFF;
    padding-top: 30px;
    padding-left: 88px;
    font-size: 15px;
    font-weight: 800;
}

.inPesquisa {
    
}

.iconesAnuncio {
    width: 100%;
    margin-left: 38px;
}