<div class="container">
    <div class="head">
        <p>FIXR</p>
        <p>CLIENTE</p>
    </div>

    <div class="header">
        <header class="headerCadPres">
            <p>ANUNCIAR</p>
            <p>BUSCAR PRESTADOR</p>
            <p>ESTATÍSTICA</p>
            <p>FAVORITOS</p>
        </header>
    </div>
    <div>
        <p>Contatos</p>
        <input placeholder="pesquisar"><br>
        <p>Sem contatos para exibir</p>

        <div>
            <p>Inicie uma conversa com um prestador</p>
            <p>Selecione "buscar prestador"</p>
        </div>

        <p>Meus anúncios </p>
        <div>
            <p>Publique um anúncio</p>
            <p>Selecione "anunciar"</p>
            <p>Ou clique aqui</p>
        </div>
            

        </div>

    </div>
