
<header>
    <div class="header">
        <h1 class="cliHeader">CADASTRO - CLIENTE</h1>
    </div>
</header>


<div class="container">
    <form (ngSubmit)="cadastrarCliente()" #form="ngForm">

        <div class="linha">
            <div class="campo">
                <label>NOME COMPLETO</label>
                <input type="text"
                       class="inNome"
                       name="nome"
                       [(ngModel)]="novoCliente.nome"
                       required>
            </div>

            <div class="campo data">
                <label>DATA DE NASCIMENTO</label>
                <div class="data-inputs">
                    <input type="text" maxlength="2" placeholder="DD">
                    <input type="text" maxlength="2" placeholder="MM">
                    <input type="text" maxlength="4" placeholder="AAAA">
                </div>
            </div>
        </div>

        <div class="campo">
            <label>E-MAIL</label>
            <input type="email" 
                   class="inEmail"
                   name="email"
                   [(ngModel)]="novoCliente.email"
                   required>
        </div>

        <div class="linha">
            <div class="campo">
                <label>SENHA</label>
                <input type="password" class="inSenha" [(ngModel)]="senha">
            </div>

            <div class="campo">
                <label>CONFIRME SUA SENHA</label>
                <input type="password" class="inConfSenha" [(ngModel)]="confSenha">
            </div>
        </div>

        <div class="campo telefone">
            <label>TELEFONE</label>
            <input type="tel" class="inTel" [(ngModel)]="telefone">
        </div>

        <div class="acoes">
            <button type="submit"
                    [disabled]="form.invalid">Cadastrar</button>
        </div>

    </form>
</div>