<div class="container">

    <div class="header">
        <header class="headerCadPres">CADASTRO - CLIENTE</header>
    </div>

    <br>

    <div class="container-main">

        <div class="fundoCad">

            <div class="nome">
                <label>NOME COMPLETO</label> 
                <input type="text" size="50px">
            </div>

            <div class="data">
                <label>DATA DE NASCIMENTO</label>
                <input type="date" placeholder="DD/MM/AAAA" size="10">
                <br>
            </div>
            

            <h3>EMAIL</h3>
            <input type="email" size="100px">
            <br>

            <h3>SENHA</h3>               
            <input type="password" size="50px"> 
            
            <h3>CONFIRME SUA SENHA</h3>
            <input type="password" size="50px">

            <h3>TELEFONE</h3>
            <input type="number">


            <button>CADASTRAR</button>

        </div>

    </div>

</div>