<form (ngSubmit)="cadastrar()">

    <div class="linha">
        <div class="campo">
            <label>NOME COMPLETO</label>
            <input type="text"
                   [(ngModel)]="nome"
                   name="nome">
        </div>
    </div>

    <div class="campo">
        <label>E-MAIL</label>
        <input type="email"
               [(ngModel)]="email"
               name="email">
    </div>

    <div class="linha">
        <div class="campo">
            <label>SENHA</label>
            <input type="password"
                   [(ngModel)]="senha"
                   name="senha">
        </div>

        <div class="campo">
            <label>CONFIRME SUA SENHA</label>
            <input type="password"
                   [(ngModel)]="confSenha"
                   name="confSenha">
        </div>
    </div>

    <div class="campo">
        <label>TELEFONE</label>
        <input type="tel"
               [(ngModel)]="telefone"
               name="telefone">
    </div>

    <div class="acoes">
        <button type="submit">Cadastrar</button>
    </div>

</form>